<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
</head>
<body>
    <button onclick=" if( document.body.style.background == 'red' ){document.body.style.background = 'white';}   else{    document.body.style.background = 'red'}"><h1></h1></button>
    <br>
    {% for i in object_list %}
       <H1><a href="{% url 'postdetail' i.pk%}">{{i.title}}</a></H1>
    {% endfor %}
    <br>

      
    
    <a href="{% url 'post_new'%}">CREATE POST</a>
</body>
</html>